{% extends 'Mainapp/base.html'%}
   {% load static %}
   


{% block content%}
<style>
  @charset "UTF-8";



.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}


img{
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
 }
 .head{
          text-align: center;
          margin-bottom: 50px;
        }

</style>
     <!-- showcase -->
     <section class="section bg-dark text-light p-5 text-center text-sm-start">
       <div class="container">
         <div class="d-sm-flex" align-item-center justify-content-between>
           <div>
             <h1>We are here to serve food <span class="text-warning">to your doorsteep.</span> </h1>
            <p class="lead my-5">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, repellat? Eos nostrum repudiandae iste quia voluptate corrupti, quaerat obcaecati illo quasi quidem labore facilis. Vero repellat veniam architecto. Molestias, sunt?
            </p>
            <button class="btn btn-success btn-lg">Order Now!</button>
            </div>
           <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'images/5.jpg' %}" alt="">
       </div>
       </div>
     </section>
     <!-- searchbar -->
     <section class="bg-light text-light p-5">
       <div class="container">
          <form class="container-fluid">
            <div class="input-group">
              <input class="form-control me-2" name="q" type="search" placeholder="Foods and Restaurant" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
          </form>
        </div>
       </div>
     </section>




     <!-- body section for restaurant -->
      
       
       <section class="p-5">
        <div>
          <h1 class="head">Our Patner Restaurant</h1>
        </div>
          <div class="container">
          <div class="row text-align-center">
            {% for restro in restaurants %}
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="{{restro.restImage.url}}" class="card-img-top" alt="...">
                <h4> <span class="text-dark text-align-center ">{{restro.name}}</span> </h4>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
     
     <!-- food section -->
        
      <section class="p-5">
        <div>
          <h1 class="head">Foods for you</h1>
        </div>
          <div class="container">
          <div class="row text-align-center">
            <div class="col-md">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/1.jpg' %}" class="card-img-top" alt="...">
                <h4> <span class="text-dark text-align-center ">MOMO </span> </h4>
              </div>
            </div>
            <div class="col-md">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/1.jpg' %}" class="card-img-top" alt="...">
                <h4> <span class="text-dark text-align-center ">MOMO</span> </h4>
              </div>
            </div>
            <div class="col-md">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/1.jpg' %}" class="card-img-top" alt="...">
                <h4> <span class="text-dark text-align-center ">MOMO</span> </h4>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- About-->
      
  <section class="form my-4 mx-5">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-5">
          <img src="{% static 'images/3.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="col-lg-7 px-5 pt-5">
          <h4>Know more about us</h4>
        
            <div class="form-row">
              <div class="col-lg-7">
               <p class="lead my-5">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, repellat? Eos nostrum repudiandae iste quia voluptate corrupti, quaerat obcaecati illo quasi quidem labore facilis. Vero repellat veniam architecto. Molestias, sunt?
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, repellat? Eos nostrum repudiandae iste quia voluptate corrupti, quaerat obcaecati illo quasi quidem labore facilis. Vero repellat veniam architecto. Molestias, sunt?
               </p>
              </div>
            </div>
        </div>
      </div>
    </div> 
  </section>




      <section class="page-section" id="about">
        <div class="container">
           <div class="text-center">
             <h3 class="section-heading text-uppercase">Some of our story</h3>
           </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/10.jpg' %}" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">An amazing service</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/11.jpg' %}" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Fast and Reliable</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/12.jpg' %}" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Good service</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
      
     
      {% endblock content%}
     