{% extends 'Mainapp/base.html'%}
   {% load static %}
   
{% block content%}


<style>
  .inner{
     overflow: hidden;

  }
  .inner img{
     transition: all 1.5s ease;
  }
  .inner:hover img{
     transform: scale(1.5);
  }

 </style> 
 
      
       <section class="py-5">
         <div class="container">
           <div class="row">
            {% for restro in restaurants %}
             <div class="col-md-3 mt-5">
              <div class="card" style="width: 18rem;">
                <div class="inner">
                  <img src="{{restro.restImage.url}}" class="card-img-top" alt="...">
                </div>
                <h4> <span class="text-dark text-align-center "><a style="text-decoration:none; color: black;" href="{% url 'detail' restro.pk %}">{{restro.name}}</a></span> </h4>
                <p class="lead" >
                {{restro.addres}}
                </p>
               </div>
             </div>
            {% endfor %}
           </div>
         </div>
       </section>

           
      
        {% endblock content%}
     